.header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  grid-template-columns: 1fr 148px 1fr;
  padding: 83px 43px 101px 57px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  font-family: Raleway, sans-serif;
  font-style: normal;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.3;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  max-width: 1440px;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  padding-top: 165px;
  padding-left: 50px;
  gap: 7px;
}

.aligned-text {
  color: #fff;
  text-transform: uppercase;
  max-width: 1340px;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  padding: 125px 50px 50px 422px;
}

.cover__description-text {
  color: #fff;
  align-self: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.27;
  word-spacing: 17px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  padding: 12px 32px;
  font-size: 22px;
  line-height: 1.18;
}

.lots {
  max-width: 1440px;
  padding: 180px 50px 0 50px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.2;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 25px;
  padding-top: 27px;
}

.lots__card-list-item {
  max-width: 430px;
  min-height: 450px;
  flex-grow: 1;
  z-index: 1;
}

.card-link {
  display: block;
  position: relative;
  text-decoration: none;
  z-index: 1;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  height: 100%;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.18;
  padding: 50px 40px 0 40px;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
  padding: 0px 40px 50px 40px;
}

.lots__look-more-link {
  display: block;
  text-decoration: underline;
  font-size: 20px;
  line-height: 1.15;
  padding-top: 30px;
  padding-left: 40px;
  text-underline-offset: 4px;
}

.about {
  max-width: 1440px;
  min-height: 487px;
  padding: 181px 50px 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 2fr;
  column-gap: 25px;
}

.about__logo {
  background-color: #000;
  justify-self: center;
  border-radius: 50%;
  height: 240px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.17;
  padding: 100px 0;
}

.about__text {
  display: grid;
  grid-column: 2/3;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(3, 1fr);
  padding: 180px 50px 90px 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 1.16;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 48px;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
